<header class="header-block card">
  <div class="header-content">
    <img
      [src]="avatarUrl"
      alt="Дмитрий Колезев"
      class="avatar"
      width="120"
      height="120"
    />
    <h1 class="title">{{ title }}</h1>
    <div class="social-buttons">
      @for (link of socialLinks; track link.platform) {
        <a
          [href]="link.url"
          target="_blank"
          rel="noopener noreferrer"
          [attr.aria-label]="link.platform"
        >
          <button
            pButton
            type="button"
            [icon]="'pi ' + link.icon"
            class="p-button-rounded social-button"
          ></button>
        </a>
      }
    </div>
  </div>
</header>
