<header class="header-block card">
  <div class="header-content">
    <img
      [src]="avatarUrl"
      alt="Дмитрий Колезев"
      class="avatar"
      width="120"
      height="120"
    />
    <h1 class="title">{{ title }}</h1>
    <a
      [href]="youtubeUrl"
      target="_blank"
      rel="noopener noreferrer"
      class="youtube-link"
    >
      <button
        pButton
        type="button"
        label="YouTube канал"
        icon="pi pi-youtube"
        class="p-button-lg p-button-danger"
      ></button>
    </a>
  </div>
</header>
