<section class="vpn-block card">
  <h2 class="section-title">{{ label }}</h2>
  <img src="/assets/logos/uralvpnlogo.png" alt="Ural VPN" class="vpn-logo" />
  <p class="vpn-description">{{ description }}</p>
  <div class="vpn-actions">
    <a
      [href]="url"
      target="_blank"
      rel="noopener noreferrer"
      class="vpn-link"
    >
      <button
        pButton
        type="button"
        label="Перейти в Telegram"
        icon="pi pi-telegram"
        class="vpn-button"
      ></button>
    </a>
  </div>
</section>
