.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 12px 0;
  color: #333;
}

.ngo-description {
  margin: 0 0 16px 0;
  color: #666;
  line-height: 1.5;
}

.ngo-link {
  display: block;
  text-decoration: none;
}

.ngo-button {
  width: 100%;
  justify-content: center;
}
