.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #333;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card-button {
  width: 100%;
  justify-content: center;
}
