$primary-blue: #1f4499;

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #333;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card-button {
  width: 100%;
  max-width: 400px;
  justify-content: center;
  background-color: $primary-blue !important;
  border-color: $primary-blue !important;
  color: white !important;
  
  &:hover {
    background-color: #173677 !important;
    border-color: #173677 !important;
  }
}
