.other-ways-block {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.content-text {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}

.email-link {
  font-weight: 600;
  word-break: break-word;
}
